# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# Include MU plugins
!/wp-content/mu-plugins/
!/wp-content/mu-plugins/canopus-canonical-name-redirector/
!/wp-content/mu-plugins/canopus-canonical-name-redirector/**

# Allow Composer files
!composer.json
!composer.lock

# Allow GitHub workflows
!.github/
!.github/workflows/

# Ignore Composer's vendor directory (unless you want to commit it)
vendor/

# Ignore PHPUnit cache if you use it later
.phpunit.result.cache

